@model List<MedicalMarket.Models.App.Category>

<a class="toggleMenu" href="#">القائمه</a>
<ul class="nav">

    <li>
        <a class="menu-items" asp-controller="Home" asp-action="Index">الرئيسية</a>
    </li>

    @foreach (var item in Model)
    {
        <li>
            <a class="menu-items" asp-controller="Categories" asp-action="Category" asp-route-id="@item.Id">@item.Name</a>
        </li>
    }

    @await Html.PartialAsync("_LoginPartial")
</ul>