@using MedicalMarket.Extensions
@model List<MedicalMarket.Models.App.Item>

@{
    ViewData["Title"] = "الرئيسية";
}

<div class="main">
    <div class="content">
        <div class="content_bottom">
            <div class="wrap">
                <div class="content-bottom-left">
                    <div class="categories">
                        @await Component.InvokeAsync("AllCategories")
                    </div>
                </div>
                <div class="content-bottom-right" >
                    <h3 style="padding-right: 24px;">الاصناف</h3>
                    <div class="section group">
                        @foreach (var item in Model)
                        {
                            <div class="grid_1_of_4 images_1_of_4">
                                <div class="top">
                                    <h4>
                                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                                @item.Name.Truncate(19)
                                        </a>
                                    </h4>
                                </div>
                                <div class="middle">
                                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                        <img class="preview-image" src="data:image;base64,@Convert.ToBase64String(item.Images.FirstOrDefault().ImageData)" alt="" />
                                    </a>
                                </div>
                                <div class="bottom-div">
                                    <div class="price-details">
                                        <div class="price-number">
                                            <p><span class="rupees">$@item.Price</span></p>
                                        </div>
                                        <div class="add-cart">
                                            <h4><a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">مزيد من المعلومات</a></h4>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>