@using MedicalMarket.Extensions
@model List<MedicalMarket.Models.App.Item>

@{
    ViewData["Title"] = "الرئيسية";
}

<div class="main">
    <div class="content">
        <div class="content_bottom">
            <div class="wrap">
                <div class="content-bottom-left">
                    <div class="categories">
                        @await Component.InvokeAsync("AllCategories")
                    </div>
                </div>
                <div class="content-bottom-right">
                    <h3 style="padding-right: 24px;">الأقسام</h3>
                    <div>
                        <style>
                            div.content {
                                all: initial;
                            }
                        </style>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-md-6 mb-4"  style="padding-bottom:8px;">
                                    <div class="card">
                                        <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(item.Images.FirstOrDefault().ImageData)" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                @item.Name.Truncate(19)
                                            </h4>
                                            <p class="card-text">@item.Description.Truncate(50)</p>
                                        </div>
                                        <div class="card-footer">
                                            <a a asp-controller="Items" class="btn btn-danger" asp-action="Details" asp-route-id="@item.Id">مزيد من المعلومات</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>