
<a class="toggleMenu" href="#">القائمه</a>
<ul class="nav">
    <li>
        <a class="menu-items" asp-controller="Orders" asp-action="Dashboard">الرئيسية</a>
    </li>
    <li>
        <a class="menu-items" asp-controller="Categories" asp-action="Index">الأصناف</a>
    </li>
    <li>
        <a class="menu-items" asp-controller="Items" asp-action="Index">العناصر</a>
    </li>
    <li>
        <a class="menu-items" asp-controller="Roles" asp-action="AddAdmin">إضافة مدير</a>
    </li>
@await Html.PartialAsync("_LoginPartial")
</ul>



